/out/
/out_test/
__pycache__/
*.pyc
/datasets/
/out/
/out_straight/
/out_Yasn_Q/
/out_Yasn_Q_old/
/out_Yasn_Q_test/
.ipynb_checkpoints/
/src/models/test_models/
/datasets_old/
/results*/
bkp/
out_Termo*/
data_Termo_Heat.pt
data_Termo_Heat_full.pt
data_processing_errors.log
tmp/
article/Definitions/logo-mdpi-eps-converted-to.pdf
article/Definitions/logo-mdpi-eps-converted-to.pdf
article/mdpi_template.aux
article/mdpi_template.fdb_latexmk
article/mdpi_template.fls
article/mdpi_template.log
article/mdpi_template.out
article/mdpi_template.pdf
article/mdpi_template.synctex.gz
